<div id="home_page">
  <section class="home_top">
    <div class="home_top_text">
      <h1>Welcome to Janis App</h1>
      <div class="home_nav">Sign in or create your account.</div>
      <div class="home_nav">And you can insist on your heart for music</div>
    </div>
  </section>
</div> 