<div class="row">
  <% @users.each do |user|%>
    <%= user.name %>
    <% if user.image? %>
      <p><%= image_tag user.image.to_s ,size: "128x128" %></p>
    <%else%>
      <p><%= image_tag "/images/noimage.gif",size: "128x128"%></p>
    <%end%>
  <% end %>
</div>