<div class="row">
  <%if current_user==@user%>
    <h2 class="title">Your Profile</h2> 
  <%else%>
    <h2 class="title">Others Profile</h2>
  <%end%>
  <%=render 'user_info'%>
</div>
<div class="row">
  <div class="category_link">
    <%=link_to("All",user_path,class: "btn btn-info")%>
    <% @categories.each do |category|%>
      <%=link_to("#{category.name}",user_path(category_id: category.id),class: "btn btn-info")%>
    <% end %>
  </div>
  <%= render 'shared/video_index'%>
</div>
